.cardProducto {
    width: 18rem;
    margin: 4px;
    background-color: hsla(0, 0%, 97%, 0.795);
    object-fit: cover;
    border: 10px black;
}


.cardProductos {
    margin: 4px 5px;
    align-items: center;
    justify-content: center;
}

.cardBody {
    background-color: wheat;
    margin-bottom: 3px;
    text-align: center;
}

img {
    aspect-ratio: 1/1;
    margin-top: 3px;
}